body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat';
}
main{
    margin: 1rem;
    background: white;
    border-radius: 15px;
}
p{
    color: hsl(228, 12%, 48%);
}
img{
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}
.img-web{
    display: none;
}
.content{
    padding: 1em;
}
h1{
    font-size: 2em;
    font-family: 'Fraunces';
    
}
h2{
    color:hsl(158, 36%, 37%) ;
    font-family: 'Fraunces';
    font-size: 2.5em;
}
section span{
    color:hsl(228, 12%, 48%) ;
    letter-spacing: 5px;
    font-size: 0.9em;
}
section div{
    display: flex;
    align-items: center;
}
section div span {
    text-decoration: line-through;
    margin-left: 2em;
    letter-spacing: normal;
}
button{
    background: hsl(158, 36%, 37%);
    padding: 1em;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.1em;
}
button:hover{
    cursor: pointer;
    background:hsl(157, 37%, 28%) ;
}
.cart-icon{
    width: 1em;
    height: 1em;
}
.attribution { 
    font-size: 11px;
     text-align: center;
     position: absolute;
     bottom: 5px;
     }
.attribution a { color: hsl(228, 45%, 44%); }

@media ( min-width: 376px ){
    .img-web{
        display: block;
        border-radius: 15px 0 0 15px;
    }
    .img-mobil{
        display: none;
    }
    main{
        display: flex;
        max-width: 600px;
        margin: auto;
    }
    .content{
        padding: 2em;
    }
    h1{
        margin-top: 0;
    }
    h2{
        margin-top: 0.4em;
        margin-bottom: 0.3em;
    }
    p{
        margin: 0;
    }
}